@page "/produto/detalhe/{produtoId:int}"
@inject HttpClient httpClient

<div class="col-sm-12 col-lg-12 col-md-12">
    <div class="card" style="border: dotted;">
        <img src="@produto.ImagemUrl" class="card-rounded" alt="@produto.Nome" width="180" height="180">
        <div class="card-body">
            <h4 class="card-title">@produto.Nome</h4>
            <h2 class="card-title">@string.Format("{0:C2}",produto.Preco)</h2>
            <p class="card-text">@produto.Descricao</p>            
        </div>
    </div>
</div>

<div>
    <a href="/catalogo/@produto.CategoriaId" class="btn btn-link">Retornar</a>
</div>

@code {

    [Parameter]
    public int produtoId { get; set; }

    Produto produto = new Produto();

    protected async override Task OnParametersSetAsync()
    {
        produto = await httpClient.GetFromJsonAsync<Produto>($"api/produto/{produtoId}");
    }

}
